<div class="container">
  <div class="nav nav-bar">
    <h2>Vehicle Information System</h2>
  </div>
  <div class="row">
    <div class="form">
      <div class="form-group">
        <input type="text" placeholder="Enter vehicle registration number..." [(ngModel)]="vnumber">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="querynumber()">Submit</button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="data_info">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Details</h5>
        <h6 class="card-subtitle mb-2 text-muted">Name:</h6>
        <p class="card-text">Insurance Upto</p>
        <p class="card-text">Fuel Type</p>
        <p class="card-text">Make</p>
        <p class="card-text">Model</p>
      </div>
    </div>
  </div>

  <button class="btn btn-danger" *ngIf="promptEvent">Install App</button>
</div>